---
import Layout from '../../layouts/Layout.astro';
import AppointmentAdmin from '../../components/appointments/AppointmentAdmin.jsx';

export const prerender = false;
---

<Layout title="Administrar Citas - Entrepeques">
  <main class="min-h-[calc(100vh-200px)] bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto px-4 py-8">
      <AppointmentAdmin client:only="react" />
    </div>
  </main>
</Layout>
