---
import Layout from '../layouts/Layout.astro';
import ProductPreparation from '../components/ProductPreparation.jsx';
---

<Layout title="Preparar Productos - Entrepeques">
  <main>
    <ProductPreparation client:only="react" />
  </main>
</Layout>

<style>
  main {
    min-height: calc(100vh - 200px);
    background-color: #f9fafb;
  }
</style>