---
import Layout from '../layouts/Layout.astro';
import ProductPreparation from '../components/ProductPreparation.jsx';
import PageWrapper from '../components/PageWrapper';
---

<Layout title="Preparar Productos - Entrepeques">
  <main>
    <PageWrapper client:only="react">
      <ProductPreparation />
    </PageWrapper>
  </main>
</Layout>

<style>
  main {
    min-height: calc(100vh - 200px);
    background-color: #f9fafb;
  }
</style>